main {
    display: flex;
}
main img {
    width: 250px ;
    height: 250px;
    border-style: solid;
    border-radius: 5px;
}
.icons-one {
    background-color: #70C0C9;
    color: #70C0C9;
}
.icons-two {
    background-color: #4074bd;
    color: #4074bd;
    
}
.icons-three {
    background-color: #E05E46;
    color: #E05E46;
    
}
.icons-four {
    background-color: #919191;
    color: #919191;
    
}
.rows {
    padding: 20px;
    width: 500px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text {
    color: rgb(88, 87, 87)
}
.titles {
    text-transform: uppercase;
    color: orangered;
}
@media (max-width: 1200px) {
    main {
        display: block;  
    }
    .rows {
        width: auto;
    }
}
